{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        "@babel/plugin-transform-runtime",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        [
            "react-css-modules",
            {
                "filetypes": {
                    ".less": {
                        "syntax": "postcss-less"
                    }
                },
                "webpackHotModuleReloading": true,
                "generateScopedName": "[name]__[local]__[hash:base64:8]",
                "exclude": "node_modules"
            }
        ],
        ["@babel/plugin-syntax-dynamic-import"]
    ]
}
